<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Next A">
  <meta property="og:description" content="Next Agriculture">
  <meta property="og:image" content="http://nexta.co.kr/static/img/service-pic-02@2x.jpg">
  <meta property="og:url" content="http://www.nexta.co.kr">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>NEXT A</title>
  <link rel="stylesheet" type="text/css" href="/static/css/materialize.min.css" media="screen,projection" />
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/static/js/materialize.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/plugins/ScrollToPlugin.min.js"></script>

  <script>
    $(function() {
      var map_height = $('.map_').css('height');
      $('.map').css('height', map_height);
      $(window).on('resize', function(){
        $('.map').css('height', map_height);
      })
      $('.goto_top').click(function() {
        gotoTop();
      });
      gotoTop();
      $('ul.news_wrapper li.row').click(function() {
        var Idx = $(this).index();
        if (Idx == 0)
          window.open('https://brunch.co.kr/@jupiter/124', '_blank');
        else if (Idx == 1)
          window.open('https://brunch.co.kr/@jupiter/123', '_blank');
        else if (Idx == 2)
          window.open('https://brunch.co.kr/@jupiter/122', '_blank');
        else if (Idx == 3)
          window.open('https://brunch.co.kr/@jupiter/121', '_blank');
        else if (Idx == 4)
          window.open('http://news.hankyung.com/article/2016110129011?nv=o', '_blank');
        else if (Idx == 5)
          $(this).remove();
      })

      $('.scrollspy').scrollSpy({
        scrollOffset: 0
      });
      var $quickMenu = $(".nav");
      var quickMenuWidth = $quickMenu.width();
      var quickMenuHeight = $quickMenu.height();
      var $quickMenuA = $quickMenu.children("a");
      var previdx = 1;
      var lastScroll = 0;
      var speed = 100;
      var top = parseInt($quickMenu.css("top"));
      var time = 0;

      $quickMenu.addClass("active1");

      $(window).on("resize.quickMenu", function() {
        if (this.resizeTO) {
          clearTimeout(this.resizeTO);
        }
        this.resizeTO = setTimeout(function() {
          $(this).trigger('resizeEnd');
        }, 500);
      });
      $(window).trigger("resizeEnd.quickMenu");

      $quickMenuA.click(function(event) {
        event.preventDefault();
        //}
      });

      function scrollClass(target, direction) {
        var $target = target;
        var $targetA = $target.children("a");
        var targetCnt = $targetA.length;
        var $scrollPosition = $target.offset().top;
        if ($scrollPosition > 800) {
          if ($('.goto_top').hasClass('active') == false)
            $('.goto_top').addClass('active');
        } else {
          $('.goto_top').removeClass('active');
        }
        if (direction == "down") {
          var quickMenuTop = $quickMenu.offset().top + quickMenuHeight;
        } else if (direction == "up") {
          var quickMenuTop = $quickMenu.offset().top;
        }

        for (var i = targetCnt; i > 0; i--) {

          var moveText = $targetA.eq(i - 1).attr("href");
          var targetTop = $(moveText).offset().top;

          if (quickMenuTop >= targetTop) {
            $quickMenu.removeClass("active" + previdx);
            $quickMenu.addClass("active" + i);
            previdx = i;
            break;
          }
        }
      }
      $(window).on("scroll.quickMenu", function() {
        if (new Date().getTime() - time >= speed) {
          time = new Date().getTime();
          var scrollPx = $(this).scrollTop();
          var myTop = scrollPx + top;
          var max = $('body').height() - quickMenuHeight;

          if (myTop < max) {
            $quickMenu.css('top', myTop);
            if (scrollPx > lastScroll) {
              //scroll down
              scrollClass($quickMenu, "down");
            } else {
              //scroll up
              scrollClass($quickMenu, "up");
            }
            lastScroll = scrollPx;
          }
        }
      });
    });

    function gotoTop() {
      var $window = $(window);
      setTimeout(function() {
        TweenMax.to($window, 2, {
          scrollTo: {
            y: 0
          },
          ease: Power3.easeOut
        });
      }, 100);
    }

  </script>
</head>

<body>
  <div class="accessibility">
    <a href="#about">본문 바로가기</a>
  </div>

  <div class="row nav">
    <ul>
      <h2>주메뉴</h2>
      <li><a href="#about">About</a></li>
      <li><a href="#service">Service</a></li>
      <li><a href="#tech">Tech</a></li>
      <li><a href="#news">News</a></li>
      <li><a href="#contact">Contact</a></li>
      <li class="facebook"><a href="https://www.facebook.com/Jupiter701205/" target="_blank"><svg viewBox="0 0 512 512"><path d="M211.9 197.4h-36.7v59.9h36.7V433.1h70.5V256.5h49.2l5.2-59.1h-54.4c0 0 0-22.1 0-33.7 0-13.9 2.8-19.5 16.3-19.5 10.9 0 38.2 0 38.2 0V82.9c0 0-40.2 0-48.8 0 -52.5 0-76.1 23.1-76.1 67.3C211.9 188.8 211.9 197.4 211.9 197.4z"/></svg></a></li>
    </ul>
  </div>
  <div class="row mobile_nav"></div>

  <div id="about" class="scrollspy">
    <h2>회사소개</h2>
    <div class="row about_top">
      <div class="col center main_logo">
        <img class="logo" width="155.55px" src="/static/img/ci@2x.png" alt="넥스트에이로고">
      </div>
      <div class="col s12 about_bg"></div>
      <div class="col s12 about_txt">
        <img class="about_txt_img" width="918px" src="/static/img/main_txt.png" alt="We create the next generation of agriculture">
        <img class="about_txt_img_mobile" src="/static/img/txt@2x.png" alt="넥스트에이로고 모바일">
      </div>
    </div>
    <div class="row about_bot">
      <div class="col s12 about_bg">
        <div class="col s12 about_content">
          <div class="row three_icons">
            <img width="54px" height="54px" src="/static/img/icon-01@2x.png" alt="잎사귀모양 아이콘">
            <img width="54px" height="54px" src="/static/img/icon-02@2x.png" alt="전구모양 아이콘">
            <img width="54px" height="54px" src="/static/img/icon-03@2x.png" alt="집안에와이파이모양 아이콘">
          </div>
          <div class="row bar"></div>
          <div class="row about_txt">
            넥스트에이는 도시농업 스마트팜(Smart Farm) PFF(Pure Farm Factory)를 통해 <br> 스마트팜(Smart Farm)의 지속 가능한 성장과 보급을 위한 해법을 제공합니다
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="service" class="row service scrollspy">
    <h2>회사 서비스</h2>
    <div class="h_title_">COMPANY <span>SERVICE</span></div>
    <div class="service_top">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img height="503px" src="/static/img/service-pic-01@2x.jpg" alt=""></div>
          <div class="swiper-slide"><img height="503px" src="/static/img/2.jpg" alt=""></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <dl class="service_txt">
        <dt>대사체 생산농업(Metabolite farming)</dt>
        <dd>작물의 특정한 생육단계에 자극(Stimulator) 을 가하여 그 작물이 가지는 다양한 성분을 강화하는 것이 대사체 생산농업의 특징 입니다.</dd>
      </dl>
    </div>
    <div class="service_bot">
      <div class="swiper-container">
        <div class="swiper-wrapper ">
          <div class="swiper-slide"><img height="503px" src="/static/img/service-pic-02@2x.jpg" alt=""></div>
          <div class="swiper-slide"><img height="503px" src="/static/img/3.jpg" alt=""></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <dl class="service_txt">
        <dt>스마트팜 솔루션 PFF(Pure Farm Factory)공급</dt>
        <dd>기후변화 및 자연재해, 병충해 등 외부환경의 영향을 최소화하여 최적의 환경에서 깨끗하고 품질 높은 농산물을 생산하는 <br> H/W(스마트팜)와 S/W(재배기술)를 공급합니다.</dd>
      </dl>
    </div>
  </div>

  <div class="border"></div>

  <div id="tech" class="row tech scrollspy">
    <h2>회사 테크놀로지</h2>
    <div class="h_title_">COMPANY <span>TECH</span></div>
    <div class="tech_bg">
      <div class="tech_txt">
        <dl class="history_2016 row">
          <dt class="col left">2016</dt>
          <dd class="col right">
            PFF(Pure Farm Factory), Green Mate, Next Farmer 상표권 3종 출원 및 등록<br>
            <br> 독립모듈형 개인화 식물재배기 및 독립모듈형 개인화 식물재배기 기반 식물공장시스템 포함 Smart Farm 관련 특허 7종 출원<br>
            <br> 음파를 이용한 새싹채소의 비타민 C함량을 증가시키는 방법 포함 대사체 생산농업관련 특허 3종 취득( 대한민국 농촌진흥청 통상실시권)
          </dd>
        </dl>
        <dl class="history_2017 row">
          <dt class="col left">2017</dt>
          <dd class="col right">
            이미지분석을 이용한 지능형 PH측정장치 및 방법 Smart Farm관련 특허 1종 출원<br>
            <br> 대사체 생산농업 관련 특허 1종 출원
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <div id="news" class="row news scrollspy">
    <h2>회사 뉴스</h2>
    <div class="h_title_">COMPANY <span>NEWS</span></div>
    <ul class="news_wrapper">
      <li class="row">
        <div class="col s1 number">01</div>
        <div class="col s4 title_">
          <span class="truncate title ">포쉬텔, 바이오빌 Smart Farm 사업</span>
          <span class="date">2017.09.10</span>
        </div>
        <div class="col s7 content">
          포쉬텔, 바이오 빌과 Smart Farm 사업을 추진하고 있습니다.
        </div>
      </li>
      <li class="row">
        <div class="col s1 number">02</div>
        <div class="col s4 title_">
          <span class="truncate title truncate">Restaurant Smart Farm 설치</span>
          <span class="date">2017.09.09</span>
        </div>
        <div class="col s7 content">
          헬스케어 전문기업 주식회사 웰빙 테인먼트의 헬스케어 Hub Heallax Restaurant 에 Smart Farm을 설치하고 관리하고 있습니다.
        </div>
      </li>
      <li class="row">
        <div class="col s1 number">03</div>
        <div class="col s4 title_">
          <span class="truncate title truncate">농심과 수경인삼 연구계약</span>
          <span class="date">2017.09.09</span>
        </div>
        <div class="col s7 content">
          넥스트 에이는 주식회사 농심과 수경인삼 연구계약을 체결했습니다. 수경인삼에 대해서는 아래 글을 살펴보시면 될 것 같습니다.
        </div>
      </li>
      <li class="row">
        <div class="col s1 number">04</div>
        <div class="col s4 title_">
          <span class="truncate title truncate">대교와 심층수를 이용한 딸기 재배 계약</span>
          <span class="date">2017.09.09</span>
        </div>
        <div class="col s7 content">
          해양심층수는 태양광이 도달하지 않는 수심 200M 아래에 존재하여 수온이 항상 2C 이하를 유지하고 있는 청정 해수자원입니다.
        </div>
      </li>
      <li class="row">
        <div class="col s1 number">05</div>
        <div class="col s4 title_">
          <span class="truncate title truncate">넥스트에이 요즈마캠퍼스에서 낙점</span>
          <span class="date">2016.11.01</span>
        </div>
        <div class="col s7 content">
          요즈마 캠퍼스는 1일 요쿠스, 넥스트-에이, 다인아트, 피직스 코리아 등 12개 스타트업이 요즈마스 픽 프로그램에 참여한다고 발표했다.
        </div>
      </li>
      <li class="row more">
        <div class="col s12">더보기</div>
      </li>
    </ul>
  </div>
  <div id="contact" class="row contact scrollspy">
    <h2>회사 약도 및 연락처</h2>
    <div class="h_title_">COMPANY <span>US</span></div>
    <div class="map">
      <a href="http://map.naver.com/?searchCoord=baea92d26019f6d6e282fba587e56d6252a79fc7168d0ccf8934cdb63f36ab61&query=6rK96riw64%2BEIOyaqeyduOyLnCDquLDtnaXqtawg64%2BZ67Cx7KSR7JWZ66GcIDIyNS02&menu=location&tab=1&lng=f2dec7782dc3458d6b3618fd217a0259&mapMode=0&mpx=09650510%3A37.4887635%2C127.0190942%3AZ11%3A0.0311531%2C0.0142228&lat=8579e1413cd4626a1db64e3a181cb10b&dlevel=12&enc=b64" target="_blank"><img class="map_ responsive-img" src="/static/img/map-pic@2x.jpg" alt=""></a>
    </div>
    <dl class="info">
      <dt><span class="left">경기도 용인시 기흥구 동백중앙로 225-6 쥬네브스타월드 B119호</span> <span class="right">대표이사 : 주종문</span></dt>
      <dd><a class="contacts" href="tel:031 548 4515">TEL  031 548 4515</a></dd>
      <dd><a class="contacts" href="tel:010 9282 1670">MOBILE  010 3871 4515</a></dd>
      <dd><a class="contacts" href="mailto:econsulting@naver.com?Subject=From%20NextA%20Homepage">EMAIL  econsulting@naver.com</a></dd>
    </dl>
    <div class="mobile_buttons row">
      <div class="col s4"><a href="mailto:econsulting@naver.com?Subject=From%20NextA%20Homepage"><img src="static/img/mail-icon@2x.png" alt=""><br>이메일 보내기</a></div>
      <div class="col s4"><a href="tel:031 548 4515"><img src="static/img/phone-icon@2x.png" alt=""><br>회사 전화 연결</a></div>
      <div class="col s4"><a href="tel:010 9282 1670"><img src="static/img/man-icon@2x.png" alt=""><br>담당자 연결</a></div>
    </div>
  </div>

  <div class="goto_top">
    <img src="/static/img/arrow@2x.png" alt="처음으로가기버튼">
  </div>

  <footer>
    <div>
      경기도 용인시 기흥구 동백중앙로 225-6 쥬네브스타월드 B119호 &nbsp; | &nbsp; TEL 031-548-4515 &nbsp; | &nbsp; FAX 031-548-4517 &nbsp; | &nbsp; MAIL econsulting@naver.com
    </div>
    <div>COPYROGHT 2009 <span>NEXTA COMPANY</span> ALLRIGHTS RESERVED</div>
  </footer>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
  <script>
    var swiper = new Swiper('.swiper-container', {
      pagination: '.swiper-pagination',
      slidesPerView: 1,
      grabCursor: true
    });

  </script>

</body>

</html>
